.product{
    position: relative;
    padding: 3rem;
    border-radius: 1rem;
    border: 1px solid black;
    transition: all 200ms;
    cursor: pointer;
    overflow: hidden;
    &:hover{
        background-color: rgba(93, 136, 255, 0.7);
    }
    span{
        position: absolute;
        top: 0;
        left: 0;
        background-color: red;
        padding: 0.3rem;
        border-bottom-right-radius: .3rem;
    }
}