header {
    background-color: rgba(102, 51, 153, 0.7);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a{
        font-size: 2rem;
        color: #fff;
        text-decoration: none;
    }
}