main{
  
  padding: 2rem;
  max-width: 50rem;
  margin: auto;
  .search{
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    input{
      padding: 0 1rem;
      margin: 1rem 0;
      font-size: 2rem;
    }
    select{
      padding: 0 1rem;
      margin: 1rem 0;
      font-size: 1rem;
      background-color: #fff;
    }
  }
  .products-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .error-text{
    color: red;
  }
}